<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoomService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/RoomReservation" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoomService" contract="ServiceRef.IRoomService"
                name="BasicHttpBinding_IRoomService" />
        </client>
    </system.serviceModel>
</configuration>